<div class="sign-up-form">
  <h1><%= title %></h1>
  <form action="" method="POST">
    <label for="username">Username</label>
    <input name="username" type="text" placeholder="Username">
    <label for="password">Password</label>
    <input name="password" type="password" placeholder="Password">
    <div class="submitOptions">
      <button type="submit">Sign Up</button>
      <a href="/users">cancel</a>
    </div>
  </form>

  <% if (errors) { %>
    <ul class="form-errors">
      <h4 class="text-danger">Errors:</h4>
      <% errors.forEach(error => { %>
        <li>- <%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>